* {
  background: #575757;
}
input {
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
  cursor: pointer;
  border-radius: 6px;
  color: whitesmoke;
  background-color: transparent;
}
tr {
  text-align: center;
}
table {
  transform: translateY(20%);
  margin: auto;
  padding: 1%;
  border-radius: 7px;
  background: #575757;
  box-shadow: -5px -5px 9px #464646, 5px 5px 9px #686868;
}

input:disabled {
  color: whitesmoke;
  text-align: right;
  padding-top: 20%;
  width: 97%;
  border-bottom: 1px solid rgb(148, 147, 144);
  cursor: default;
}

td {
  padding: 3%;
}
.sym {
  color: hsl(189, 56%, 46%);
  font-weight: 900;
}
#equal {
  background-color: hsl(189, 56%, 46%);
  color: whitesmoke;
  border-radius: 8px;
}

.fas {
  font-size: 1.2rem;
}
button {
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  padding: 8.3%;
  background-color: transparent;
}
